<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2VKq0wG0oZzIfNjRFs26x5PcLjH2gSX8</string>
	<key>GCM_SENDER_ID</key>
	<string>437613668749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jimSturdy</string>
	<key>PROJECT_ID</key>
	<string>jim-sturdy</string>
	<key>STORAGE_BUCKET</key>
	<string>jim-sturdy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437613668749:ios:8a93bd0367477f233635c4</string>
</dict>
</plist>